<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>{ifset title}{include title|striptags} | {/ifset}Nette Camp / 25.–28. srpna 2016 </title>
	<meta name="description" content="Setkání příznivců Nette Framework mimo město v Českém ráji v obci Nová Ves nad Popelkou">

	<link rel="shortcut icon" href="{$basePath}/favicon.ico">

	<!--[if lte IE 8]><script src="{$basePath}/assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="{$basePath}/assets/css/main.css?program" />
	<!--[if lte IE 8]><link rel="stylesheet" href="{$basePath}/assets/css/ie8.css" /><![endif]-->
	<script n:syntax="double">
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-62960382-2', 'auto');
		ga('send', 'pageview');
	</script>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	<!-- Footer -->
	<div id="footer">
		<div class="container 75%" n:snippet="order">


			{if isset($formSend)}

				{if count($users) >= 60}

					<h3>Kapacita campu je již naplněna.</h3>
					<p>Pokud se chcete stát náhradníkem napište email na hello@honzacerny.com</p>

				{else}

					{if $formSend}
						<h2>Děkujeme</h2>
						<p>Brzy se ozveme s dalšími informacemi</p>
					{else}

						<header class="major last">
							<h2>Registrace</h2>
						</header>

						{*
						<p>
							<a href="#registrationForm" id="btn-showRegistrationForm">Chci se registrovat</a>
						</p>
						*}

						<form n:name="registrationForm" class="ajax" id="registrationForm" {* style="display:none" *}>
							<div class="row">
								<div class="6u 12u(mobilep)">
									<input type="text" n:name="name" placeholder="Jméno" />
								</div>
								<div class="6u 12u(mobilep)">
									<input type="email" n:name="liame" placeholder="Email" />
								</div>
							</div>
							<div class="row">
								<div class="6u 12u(mobilep)">
									<input type="text" n:name="phone" placeholder="Telefon" />
								</div>
								<div class="6u 12u(mobilep)">
									{input "from"}
								</div>
							</div>
							<div class="row">
								<div class="6u 12u(mobilep)">
									<input type="text" n:name="nickname" placeholder="Nickname (zobrazen na stránkách)" />
								</div>
								<div class="6u 12u(mobilep)">
									{input "level"}
								</div>
							</div>
							<div class="row">
								<div class="12u">
									<textarea n:name="note" placeholder="Poznámka" rows="6"></textarea>
								</div>
							</div>
							<div class="row">
								<div class="12u">
									<ul class="actions">
										<li><input type="submit" value="Registrovat" /></li>
									</ul>
								</div>
							</div>
						</form>


					{/if}

				{/if}

			{/if}


			<ul class="icons">
				<li><a href="http://twitter.com/nettecamp" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				{*<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>*}
				{*<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>*}
				{*<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>*}
			</ul>

			<ul class="copyright">
				<li>made by <a href="http://www.kreativnilaborator.cz">Kreativni Laborator s.r.o.</a></li><li>Based on theme from <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>

		</div>
	</div>


	{block scripts}
		<script src="{$basePath}/assets/js/netteForms.min.js"></script>
		<script src="{$basePath}/assets/js/jquery.min.js"></script>
		<script src="{$basePath}/assets/js/skel.min.js"></script>
		<script src="{$basePath}/assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="{$basePath}/assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="{$basePath}/assets/js/nette.ajax.js"></script>
		<script src="{$basePath}/assets/js/main.js?v=registration-end"></script>

	{/block}
</body>
</html>
