{block content}

<div class="row">
	<div class="column">
		<div class="white-paper">
			<h1>Registrace na Nette Camp</h1>
			<h2>Cena 4200,-</h2>
			<p class="mt-20">
				<small>cena 3471,- bez DPH, jsme plátci DPH a rádi vám vystavíme fakturu na firmu</small>
			</p>
			<p><strong class="typo--green">Zahrnuje</strong>: ubytování, stravu (snídaně, oběd, večeře, ovoce a drobnosti k zobání), tekutiny (<strong>včetně piva 🍺</strong>), tričko.</p>
			<p><strong class="typo--red">Nezahrnuje</strong>: cenu za paintball (není povinný), cca 250,- na místě</p>

		</div>
	</div>
</div>

<div n:if="!$disableRegistration" class="row">
	<div class="column">
		<div class="white-paper">


			{if $count >= $campCapacity}
				<h3 class="text-center">Kapacita campu je již <span class="typo--red">naplněna</span>.</h3>
				<p class="text-center">ale můžes se tu zapsat jako náhradník a jakmile se uvolní místo, tak ti dáme vědět.</p>
			{else}
				<h1 class="text-center">Přidej se i ty <small>kapacita {$count}/{$campCapacity}</small></h1>
			{/if}

			{control registrationForm}

		</div>
	</div>
</div>

<div class="row">
	<div class="column">
		{control partnersBlock}
	</div>
</div>
