{block content}
<div class="row">
	<div class="column">
		<div class="white-paper">
			<img src="{$basePath}/img/opicak.png" alt="Opičák s pivem" align="right" class="mt40">

			<h1>Registrace náhradníka</h1>
			<h2 class="green">na Nette Camp proběhla v pořádku</h2>

			<p>
				Jakmile se uvolní místo, ozvem se ti s dalšími informacemi
			</p>
	</div>
</div>


<div class="row">
	<div class="column">
		{control partnersBlock}
	</div>
</div>
