# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

parameters:
	database:
		host: 127.0.0.1

	site:
		develMode: false
		version: blackmamba

	email:
		from: honza@kreativnilaborator.cz
		name: Honza

php:
	date.timezone: Europe/Prague

latte:
    macros:
        - Nittro\Bridges\NittroLatte\NittroMacros

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

database:
	dsn: 'mysql:host=%database.host%;dbname=%database.dbname%'
	user: %database.user%
	password: %database.password%
	options: {lazy: yes}


services:
	router: App\RouterFactory::createRouter
	- MailManager(%email%)
	- RegistrationManager
