# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

parameters:
    database:
        host: 127.0.0.1

    site:
        develMode: false
        version: program
        disableRegistration: false
        campCapacity: 50

    partners:
        one:
#            empty: true
            url: https://www.jetbrains.com
            img: img/partner/logo-jetbrains.png
            title: JetBrains
        two:
#            empty: true
            url: https://www.peckadesign.cz/
            img: img/partner/logo-peckadesign.png
            title: PeckaDesign
        empty2:
            empty: true
#            url: https://sledovanitv.cz/career
#            img: img/partner/logo-sledovani.png
#            title: sledovani


php:
    date.timezone: Europe/Prague

extensions:
    contribute.console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    contributte.mailing: Contributte\Mailing\DI\MailingExtension
    nextras.migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension
    nextras.dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
    nextras.orm: Nextras\Orm\Bridges\NetteDI\OrmExtension


contribute.console:
    url: https://www.nettecamp.cz

contributte.mailing:
    template:
        defaults:
            layout: @@default
        config:
            layout: @@default

nextras.migrations:
    dir: %appDir%/../migrations # migrations base directory
    driver: mysql               # pgsql or mysql
    dbal: nextras               # nextras, nette, doctrine or dibi

nextras.dbal:
    driver: mysqli
    host: %database.host%
    username: %database.user%
    password: %database.password%
    database: %database.dbname%


nextras.orm:
    model: App\Model\Model

latte:
    macros:
        - Nittro\Bridges\NittroLatte\NittroMacros

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter


session:
    expiration: 14 days

services:
    router: App\RouterFactory::createRouter
    - App\FrontModule\Components\RegistrationFormFactory
    - App\FrontModule\Components\PartnersBlockControl(%partners%)
    - App\FrontModule\Components\ParticipantsBlockFactory()
    - Aprila\Website\SiteLayout(%site%)
