# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

parameters:
    database:
        host: 127.0.0.1

    site:
        develMode: false
        version: program
        disableRegistration: false
        campCapacity: 50

    partners:
        one:
            empty: true
#            url: https://www.jetbrains.com
#            img: img/partner/logo-jetbrains.jpg
#            title: JetBrains
        two:
            empty: true
#            url: https://tlapnet.cz/
#            img: img/partner/logo-tlapnet.jpg
#            title: Tlapnet
        empty2:
            empty: true
#            url: https://sledovanitv.cz/career
#            img: img/partner/logo-sledovani.png
#            title: sledovani


php:
    date.timezone: Europe/Prague

extensions:
    contribute.console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    nextras.migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension
    ublaboo.mailing: Ublaboo\Mailing\DI\MailingExtension
    nextras.dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
    nextras.orm: Nextras\Orm\Bridges\NetteDI\OrmExtension


contribute.console:
    url: https://www.nettecamp.cz

nextras.migrations:
    dir: %appDir%/../migrations # migrations base directory
    driver: mysql               # pgsql or mysql
    dbal: nextras               # nextras, nette, doctrine or dibi

ublaboo.mailing:
    do: both # log|send|both
    logDirectory: '%appDir%/../log/mails' # this is default option
    mailImagesBasePath: %wwwDir% # this is default option
    mails: [
        default_sender: hello@nettecamp.cz
        default_recipient: petra@kreativnilaborator.cz
        copy_recipient: honza@kreativnilaborator.cz
    ]

nextras.dbal:
    driver: mysqli
    host: %database.host%
    username: %database.user%
    password: %database.password%
    database: %database.dbname%


nextras.orm:
    model: App\Model\Model

latte:
    macros:
        - Nittro\Bridges\NittroLatte\NittroMacros

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter


session:
    expiration: 14 days

services:
    router: App\RouterFactory::createRouter
    - App\FrontModule\Components\RegistrationFormFactory
    - App\FrontModule\Components\PartnersBlockControl(%partners%)
    - App\FrontModule\Components\ParticipantsBlockFactory()
    - Aprila\Website\SiteLayout(%site%)
