<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" />
	<style type="text/css"> strong { color: darkblue;}</style>
	<title>NetteCamp: Registrace</title>
</head>
<body>
	<p style="font-size:18px">Registrace : <strong>{$name}</strong></p>
	<p style="font-size:16px">Level: <br><strong>{$skills}</strong></p>
	<p style="font-size:16px">From: <br><strong>{$arrival}</strong></p>
	<p style="font-size:16px">E-mail: <strong><a href="mailto:{$email}">{$email}</a></strong></p>
	<p style="font-size:16px">Telefon: <strong>{$phone}</strong></p>
	<p style="font-size:16px">Note: <strong>{$note}</strong></p>
</body>
</html>