<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" />
	<style type="text/css"> strong { color: darkblue;}</style>
	<title>NetteCamp: Registrace</title>
</head>
<body>
	<p style="font-size:18px">Registrace : <strong>{$mailData->name}</strong></p>
	<p style="font-size:16px">Invoice: <br><strong>{$mailData->invoice}  {if $mailData->companyId}(ID: {$mailData->companyId}){/if}</strong></p>
	<p style="font-size:16px">From: <br><strong>{$mailData->arrival}</strong></p>
	<p style="font-size:16px">E-mail: <strong><a href="mailto:{$mailData->email}">{$mailData->email}</a></strong></p>
	<p style="font-size:16px">Telefon: <strong>{$mailData->phone}</strong></p>
	<p style="font-size:16px">Note: <strong>{$mailData->note}</strong></p>
	<hr>
	<table>
		<tr>
			<td>status</td>
			<td>jmeno</td>
			<td>nick</td>
			<td>email</td>
			<td>phone</td>
			<td>when</td>
			<td>skills</td>
			<td>invoice</td>
			<td>company id</td>
			<td>vegetarian</td>
			<td>t-shirt</td>
			<td>talk</td>
			<td>note</td>
		</tr>
		<tr>
			<td>registration</td>
			<td>{$mailData->name}</td>
			<td>{$mailData->nickname}</td>
			<td>{$mailData->email}</td>
			<td>{$mailData->phone}</td>
			<td>{$mailData->arrival}</td>
			<td>{$mailData->skills}</td>
			<td>{$mailData->invoice}</td>
			<td>{$mailData->companyId}</td>
			<td>{$mailData->vegetarian}</td>
			<td>{$mailData->tshirt}</td>
			<td>{$mailData->presentation}</td>
			<td>{$mailData->note}</td>
		</tr>
	</table>

</body>
</html>
