{if $empty}
	<h5 class="text-center">hledáme partnery akce</h5>
{else}
	<h5 class="text-center">děkuje našim partnerům</h5>
{/if}

<div class="row">
	{foreach $partners as $partner}
		{ifset $partner->empty}
			<div class="columns small-12 medium-4">
				<a href="{plink :Front:Partners:default}" class="empty-partner">+</a>
			</div>
		{else}
			<div class="columns small-12 medium-4">
				<a href="{$partner->url}"><img width="280" src="{$basePath}{$partner->img}" alt="{$partner->title}"></a>
			</div>
		{/ifset}
	{/foreach}

</div>

<div class="row margin-bottom-2">
    <div class="column">
        <p class="text-center"><small><a href="{plink :Front:Partners:default}">podpořte nette camp</a></small></p>
    </div>
</div>


