<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title n:snippet="title">{$title}</title>
	<meta name="description" content="Setkání PHP vývojářů v přírodě">
	{ifset $metaOgImage}
		<meta property="og:image" content="{$baseUrl}/img/meta/{$metaOgImage}">
    {else}
		<meta property="og:image" content="{$baseUrl}/img/meta/nette-camp-og.jpg">
    {/ifset}

	<link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/apple-touch-icon.png">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{if $production}
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/site/site.min.css?ver={$version}" />
	{else}
		<!-- build:css {$basePath}/css/site/site.min.css -->
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/nittro/nittro-build.css" />
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/site/main.css" />
		<!-- endbuild -->
	{/if}


	<script n:syntax="double">
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function () {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-62960382-2', 'auto');
		ga('send', 'pageview');
	</script>
</head>

<body>
{if $production}
	<script type="text/javascript" src="{$basePath}/js/site/site.min.js?ver={$version}" async defer></script>
{else}
	<!-- build:js {$basePath}/js/site/site.min.js -->
	<script src="{$basePath}/js/nittro/nittro-build.js" async defer></script>
	<script src="{$basePath}/js/site.js" async defer></script>
	<!-- endbuild -->
{/if}
<header>
	<div class="row">
		<div class="column">
			{snippet navigation}
				<a n:href="Homepage:" class="main-navigation__item show-for-small-only">Nette Camp</a>
				<label class="nav-label" for="nav-toggle" class="">[+] menu</label>
				<input type="checkbox" id="nav-toggle">
				<nav>
					<a class="main-navigation__item" n:href="Homepage:"><span class="hide-for-small-only">Nette Camp</span><span class="show-for-small-only">Homepage</span></a>
					<a class="main-navigation__item" n:href="Program:">Program</a>
					<a class="main-navigation__item" n:href="Registration:">Registrace</a>
					<a class="main-navigation__item" n:href="Location:">Lokace</a>
					<a class="main-navigation__item" n:href="Team:">Tým</a>
					<a class="main-navigation__item" n:href="History:">Historie</a>
				</nav>
			{/snippet}
		</div>
	</div>
</header>

<div n:flashes></div>

<main class="main-content">
	<div n:snippet="content" class="nittro-transition-auto nittro-transition-fade">
		{include content}
	</div>
	<div class="footer-design">
		<img width="100%" src="{$basePath}/img/footer.svg" alt="footer design">
	</div>
</main>


<footer>
	<div class="b-mailchimp">


		<form action="https://tinyletter.com/nettecamp" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/nettecamp', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">

			<div class="row">
				<div class="column">
					<h2>Newsletter</h2>
				</div>
			</div>

			<div class="row">
				<div class="columns medium-8 small-12">
					<p><input type="text" class="b-mailchimp__input" name="email" id="tlemail" placeholder="emailová adresa"  /></p>
				</div>
				<div class="columns medium-4 small-12">
					<input type="hidden" value="1" name="embed"/>
					<input type="submit" value="chci zasílat novinky ohledně nette camp"  class="button b-mailchimp__button" />
				</div>
			</div>
			<div class="row">
				<div class="column text-center">
					<p><a href="https://tinyletter.com" style="color: #6c6c6c" target="_blank">powered by TinyLetter</a></p>
				</div>
			</div>

	</div>


{*	{include "footer.latte"}*}

	<div class="kreativnilaborator">
		<div class="row">
			<div class="column text-right">
				<p>
					tvoří <a href="http://www.kreativnilaborator.cz">Kreativní Laboratoř</a>
				</p>
			</div>
		</div>
	</div>

</footer>

<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/script.js" site="TQJGMJBD" defer></script>
<!-- / Fathom -->

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
	WebFont.load({
		google: {
			families: ['Special Elite:400:latin,latin-ext']
		}
	});
</script>
<style>
	html.wf-active h1,
	html.wf-active h2,
	html.wf-active .main-navigation__item,
	html.wf-active .typo--special
	{
		font-family: 'Special Elite', "Courier";
	}
</style>

{block scripts}{/block}

</body>
</html>
