<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title n:snippet="title">{$title}</title>
	<meta name="description" content="Setkání PHP vývojářů v příroďě">

	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{if $production}
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/site/site.min.css?ver={$version}" />
	{else}
		<!-- build:css {$basePath}/css/site/site.min.css -->
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/foundation/normalize.css" />
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/foundation/foundation.css" />
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/nittro/nittro-full.css" />
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/site/main.css" />
		<!-- endbuild -->
	{/if}
	{if $production}
	<script type="text/javascript" src="{$basePath}/js/site/site.min.js?ver={$version}" async defer></script>
	{else}
		<!-- build:js {$basePath}/js/site/site.min.js -->
		<script src="{$basePath}/js/nittro-full.js" async defer></script>
		<script src="{$basePath}/js/site.js" async defer></script>
		<!-- endbuild -->
	{/if}

	<script n:syntax="double">
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function () {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-62960382-2', 'auto');
		ga('send', 'pageview');
	</script>
</head>

<body>

{*
<div class="header">
	<div class="row">
		<div class="column">
			<h5>Nette Camp</h5>
		</div>
	</div>
</div>
*}

<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

<div n:snippet="content" class="nittro-transition-auto nittro-transition-fade">
	{include content}
</div>

<div class="footer">
	<div class="row">
		<div class="column text-right">
			<p>
				made by <a href="http://www.kreativnilaborator.cz">Kreativní Laboratoř s.r.o.</a>
			</p>
		</div>
	</div>
</div>

{block scripts}{/block}

</body>
</html>
