<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title n:snippet="title">{$title}</title>
	<meta name="description" content="Setkání PHP vývojářů v přírodě">
	{ifset $metaOgImage}
		<meta property="og:image" content="{$baseUrl}/img/meta/{$metaOgImage}">
    {else}
		<meta property="og:image" content="{$baseUrl}/img/meta/nette-camp-og.jpg">
    {/ifset}

	<link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/apple-touch-icon.png">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{if $production}
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/site/site.min.css?ver={$version}" />
	{else}
		<!-- build:css {$basePath}/css/site/site.min.css -->
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/nittro/nittro-build.css" />
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/site/main.css" />
		<!-- endbuild -->
	{/if}


	<script n:syntax="double">
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function () {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-62960382-2', 'auto');
		ga('send', 'pageview');
	</script>
</head>

<body>
{if $production}
	<script type="text/javascript" src="{$basePath}/js/site/site.min.js?ver={$version}" async defer></script>
{else}
	<!-- build:js {$basePath}/js/site/site.min.js -->
	<script src="{$basePath}/js/nittro/nittro-build.js" async defer></script>
	<script src="{$basePath}/js/site.js" async defer></script>
	<!-- endbuild -->
{/if}
<header>
	<div class="row">
		<div class="column">
			{snippet navigation}
				<a n:href="Homepage:" class="main-navigation__item show-for-small-only">Nette Camp</a>
				<label class="nav-label" for="nav-toggle" class="">[+] menu</label>
				<input type="checkbox" id="nav-toggle">
				<nav>
					<a class="main-navigation__item" n:href="Homepage:"><span class="hide-for-small-only">Nette Camp</span><span class="show-for-small-only">Homepage</span></a>
					<a class="main-navigation__item" n:href="Program:">Program</a>
					<a class="main-navigation__item" n:href="Registration:">Registrace</a>
					<a class="main-navigation__item" n:href="Location:">Lokace</a>
					<a class="main-navigation__item" n:href="Team:">Tým</a>
					<a class="main-navigation__item" n:href="History:">Historie</a>
				</nav>
			{/snippet}
		</div>
	</div>
</header>

<div n:flashes></div>

<main class="main-content">
	<div n:snippet="content" class="nittro-transition-auto nittro-transition-fade">
		{include content}
	</div>
	<div class="footer-design">
		<img width="100%" src="{$basePath}/img/footer.svg" alt="footer design">
	</div>
</main>


<footer>
	<div class="b-mailchimp">
		<form action="//kreativnilaborator.us2.list-manage.com/subscribe/post?u=63c01cba8155e669f0c5e39f2&amp;id=28a2a91e7c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div class="row">
				<div class="columns medium-8 small-12">
					<input class="b-mailchimp__input" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="emailová adresa" required>
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_63c01cba8155e669f0c5e39f2_28a2a91e7c" tabindex="-1" value=""></div>
				</div>
				<div class="columns medium-4 small-12">
					<input type="submit" value="chci zasílat novinky ohledně nette camp" name="subscribe" id="mc-embedded-subscribe" class="button b-mailchimp__button">
				</div>
			</div>
		</form>
	</div>


	<div class="b-footer">
		<div class="row">
			<div class="column">
				<h4>There is more links to follow...</h4>
			</div>
		</div>
		<div class="row">
			<div class="medium-2 small-6 columns">
				<ul class="b-footer__navigation">
					<li><a href="https://communitte.com/"><strong>Communite</strong></a></li>
					<li><a href="https://communitte.com/calendar">Calendar</a></li>
					<li><a href="https://communitte.com/magazine">Magazine</a></li>
					<li><a href="https://communitte.com/shop">Shop</a></li>
					<li><a href="https://communitte.com/code">Code</a></li>
				</ul>
			</div>
			<div class="medium-2 small-6 columns">
				<ul class="b-footer__navigation">
					<li><a href="https://contributte.org/"><strong>Contributte</strong></a></li>
					<li><a href="https://www.github.com/contributte">Github</a></li>
					<li><a href="https://contributte.org/nettrine">Nettrine</a></li>
					<li><a href="https://contributte.org/apitte">Apitte</a></li>
					<li><a href="https://contributte.org/ninjify">Ninjify</a></li>
					<li><a href="https://contributte.org/about.html">Team</a></li>
				</ul>
			</div>
			<div class="medium-2 small-6 columns">
				<ul class="b-footer__navigation">
					<li><a href="https://planette.io/"><strong>Planette</strong></a></li>
					<li><a href="https://github.com/planette/playground">Playground</a></li>
					<li><a href="https://planette.io/#projects">Projects</a></li>
					<li><a href="https://planette.io/#applications">Applications</a></li>
					<li><a href="https://github.com/planette">Github</a></li>
				</ul>
			</div>
			<div class="medium-2 small-6 columns">
				<ul class="b-footer__navigation">
					<li><a href="https://componette.com/"><strong>Componette</strong></a></li>
					<li><a href="https://componette.com/search/tracy">Tracy</a></li>
					<li><a href="https://componette.com/search/forms">Forms</a></li>
					<li><a href="https://componette.com/search/latte">Latte</a></li>
					<li><a href="https://github.com/planette/componette.com">Github</a></li>
				</ul>
			</div>
			<div class="medium-2 small-6 columns">
				<ul class="b-footer__navigation">
					<li><a href="https://communitte.com/events"><strong>Events</strong></a></li>
					<li><a href="https://www.posobota.cz">#posobota</a></li>
					<li><a href="https://www.nettecamp.cz">nette camp</a></li>
					<li><a href="https://conference.nette.org">nette conference</a></li>
				</ul>
			</div>
			<div class="medium-2 small-6 columns">
				<ul class="b-footer__navigation">
					<li><a href="https://nette.org/"><strong>Nette</strong></a></li>
					<li><a href="https://commits.nette.org">Commits</a></li>
					<li><a href="https://nette.org/en/releases">Release notes</a></li>
					<li><a href="https://forum.nette.org">Forum</a></li>
					<li><a href="https://doc.nette.org">Documentation</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="column text-center b-footer__social">
				<a class="b-footer__social-icon" href="https://www.facebook.com/nettefw" target="_blank"><img src="{$basePath}/img/social/Facebook_black.svg" alt="facebook"></a>
				<a class="b-footer__social-icon" href="https://www.github.com/planette" target="_blank"><img src="{$basePath}/img/social/Github_black.svg" alt="github"></a>
				<a class="b-footer__social-icon" href="https://www.instagram.com/communitte" target="_blank"><img src="{$basePath}/img/social/Instagram_black.svg" alt="instagram"></a>
				<a class="b-footer__social-icon" href="https://www.twitter.com/c0mmun1tte" target="_blank"><img src="{$basePath}/img/social/Twitter_black.svg" alt="twitter"></a>
				{*			<a class="b-footer__social-icon" href="https://www.linkedin.com/groups/1078617/" target="_blank"><img src="{$basePath}/img/social/LinkedIN_black.svg" alt="linked in"></a>*}
				<a class="b-footer__social-icon" href="https://www.figma.com/file/KPYVAQvf54i7iTsHBz2jXgxy/communitte.com-website?node-id=0%3A1" target="_blank"><img src="{$basePath}/img/social/Figma_black.svg" alt="figma"></a>
				<a class="b-footer__social-icon" href="https://pehapkari.slack.com/messages/C2R30BLKA" target="_blank"><img src="{$basePath}/img/social/Slack_black.svg" alt="slack"></a>
				<a class="b-footer__social-icon" href="https://t.me/nettefw" target="_blank"><img src="{$basePath}/img/social/Telegram_black.svg" alt="telegram"></a>
				<a class="b-footer__social-icon" href="https://trello.com/communitte" target="_blank"><img src="{$basePath}/img/social/Trello_black.svg" alt="trello"></a>
			</div>
		</div>
		<div class="row">
			<div class="column text-left">
				<p class="b-footer__copy">&copy; {date('Y')} – made with {= ([':love:', ':beer:', ':phpstorm:', ':opensource:'])[mt_rand(0,3)]} in Czech Republic</p>
			</div>
		</div>
	</div>

	<div class="kreativnilaborator">
		<div class="row">
			<div class="column text-right">
				<p>
					tvoří <a href="http://www.kreativnilaborator.cz">Kreativní Laboratoř</a>
				</p>
			</div>
		</div>
	</div>

</footer>


<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
	WebFont.load({
		google: {
			families: ['Special Elite:400:latin,latin-ext']
		}
	});
</script>
<style>
	html.wf-active h1,
	html.wf-active h2,
	html.wf-active .main-navigation__item,
	html.wf-active .typo--special
	{
		font-family: 'Special Elite', "Courier";
	}
</style>

{block scripts}{/block}

</body>
</html>
