<div class="b-footer">
    <div class="row">
        <div class="column">
            <h4>There is more links to follow...</h4>
        </div>
    </div>
    <div class="row">
        <div class="medium-2 small-6 columns">
            <ul class="b-footer__navigation">
                <li><a href="https://contributte.org/"><strong>Contributte</strong></a></li>
                <li><a href="https://www.github.com/contributte">Github</a></li>
                <li><a href="https://contributte.org/nettrine">Nettrine</a></li>
                <li><a href="https://contributte.org/apitte">Apitte</a></li>
                <li><a href="https://contributte.org/ninjify">Ninjify</a></li>
            </ul>
        </div>
        <div class="medium-2 small-6 columns">
            <ul class="b-footer__navigation">
                <li><a href="https://github.com/planette"><strong>Planette</strong></a></li>
                <li><a href="https://github.com/planette/playground">Playground</a></li>
                <li><a href="https://planette.io/#projects">Projects</a></li>
                {*					<li><a href="https://planette.io/#applications">Applications</a></li>*}
                <li><a href="https://github.com/planette">Github</a></li>
            </ul>
        </div>
        <div class="medium-2 small-6 columns">
            <ul class="b-footer__navigation">
                <li><a href="https://componette.com/"><strong>Componette</strong></a></li>
                <li><a href="https://componette.com/search/tracy">Tracy</a></li>
                <li><a href="https://componette.com/search/forms">Forms</a></li>
                <li><a href="https://componette.com/search/latte">Latte</a></li>
                <li><a href="https://github.com/planette/componette.com">Github</a></li>
            </ul>
        </div>
        <div class="medium-2 small-6 columns">
            <ul class="b-footer__navigation">
                <li><strong>Events</strong></li>
                <li><a href="https://www.nettecamp.cz">nette camp</a></li>
                <li><a href="https://conference.nette.org">nette conference</a></li>
                <li><a href="https://www.posobota.cz">#posobota</a></li>
            </ul>
        </div>
        <div class="medium-2 small-6 columns">
            <ul class="b-footer__navigation">
                <li><a href="https://nette.org/"><strong>Nette</strong></a></li>
                <li><a href="https://commits.nette.org">Commits</a></li>
                <li><a href="https://nette.org/en/releases">Release notes</a></li>
                <li><a href="https://forum.nette.org">Forum</a></li>
                <li><a href="https://doc.nette.org">Documentation</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="column text-center b-footer__social">
            <a class="b-footer__social-icon" href="https://www.facebook.com/nettefw" target="_blank"><img src="{$basePath}/img/social/Facebook_black.svg" alt="facebook"></a>
            {*				<a class="b-footer__social-icon" href="https://www.github.com/planette" target="_blank"><img src="{$basePath}/img/social/Github_black.svg" alt="github"></a>*}
            {*				<a class="b-footer__social-icon" href="https://www.instagram.com/communitte" target="_blank"><img src="{$basePath}/img/social/Instagram_black.svg" alt="instagram"></a>*}
            {*				<a class="b-footer__social-icon" href="https://www.twitter.com/c0mmun1tte" target="_blank"><img src="{$basePath}/img/social/Twitter_black.svg" alt="twitter"></a>*}
            {*			<a class="b-footer__social-icon" href="https://www.linkedin.com/groups/1078617/" target="_blank"><img src="{$basePath}/img/social/LinkedIN_black.svg" alt="linked in"></a>*}
            {*				<a class="b-footer__social-icon" href="https://www.figma.com/file/KPYVAQvf54i7iTsHBz2jXgxy/communitte.com-website?node-id=0%3A1" target="_blank"><img src="{$basePath}/img/social/Figma_black.svg" alt="figma"></a>*}
            <a class="b-footer__social-icon" href="https://pehapkari.slack.com/messages/C2R30BLKA" target="_blank"><img src="{$basePath}/img/social/Slack_black.svg" alt="slack"></a>
            {*				<a class="b-footer__social-icon" href="https://t.me/nettefw" target="_blank"><img src="{$basePath}/img/social/Telegram_black.svg" alt="telegram"></a>*}
            {*				<a class="b-footer__social-icon" href="https://trello.com/communitte" target="_blank"><img src="{$basePath}/img/social/Trello_black.svg" alt="trello"></a>*}
        </div>
    </div>
    <div class="row">
        <div class="column text-left">
            <p class="b-footer__copy">&copy; {date('Y')} – made with {= ([':love:', ':beer:', ':phpstorm:', ':opensource:'])[mt_rand(0,3)]} in Czech Republic</p>
        </div>
    </div>
</div>
