{*
	Posila se klientovi
*}
{block subject}NetteCamp: Registrace{/block}
{layout @layout.latte}

{block content}
<div style="font-size:16px">Dobrý den,<br><br>

Děkujeme za registraci na NetteCamp<br>

	brzy pošleme další informace
</div><br>


<br><br>
Přejeme hezký den.
<br>
Kreativní Laboratoř.
